{% include 'email-notifications/partials/header-notification.html.twig' %}

<p>{{ 'notifications.messages.unread.body.title'|transchoice(unReadMessagesCount, {'%count%': unReadMessagesCount}) }}</p>

<p>{{ 'notifications.messages.unread.body.latest'|transchoice(messages|length, {'%count%': messages|length}) }}</p>

{% for message in messages %}

    <p>{{ 'notifications.messages.unread.body.message'|trans({'%user%': message.username_from, '%datetime%': message.createdAt}) }}</p>

    <p>{{ message.text }}</p>

{% endfor %}

<p>{{ '<a href="https://nekuno.com/message/list">' ~ 'notifications.messages.unread.body.linkAnchor'|trans ~ '</a>' }}</p>

{% include 'email-notifications/partials/footer-notification.html.twig' %}