{% extends 'email-notifications/base.html.twig' %}

{% block header %}
    {% include 'email-notifications/partials/header-notification.html.twig' %}
    {{ 'notifications.messages.unread.body.title'|transchoice(unReadMessagesCount, {'%count%': unReadMessagesCount}) }}
{% endblock %}

{% block body %}
    <p>{{ 'notifications.messages.unread.body.latest'|transchoice(messages|length, {'%count%': messages|length}) }}</p>

    {% for message in messages %}

        <p>{{ 'notifications.messages.unread.body.message'|trans({'%user%': message.username_from, '%datetime%': message.createdAt}) }}</p>

        <p><strong>{{ message.text }}</strong></p>

    {% endfor %}

    <p><a href="http://m.nekuno.com/#/conversations">{{ 'notifications.messages.unread.body.linkAnchor'|trans }}</a></p>
{% endblock %}