{% extends 'email-notifications/base.html.twig' %}

{% block header %}
    {% include 'email-notifications/partials/header-notification.html.twig' %}
{% endblock %}

{% block body %}
    <p>{{ 'notifications.messages.exceptional_links.body.introduction_1'|trans }}</p>

    <p>{{ 'notifications.messages.exceptional_links.body.introduction_2'|transchoice(totalCount, {'%count%':totalCount}) }}</p>

    {% for link in links %}
        <p><a href="{{ link.url }}">{{ link.title }}</a></p>
    {% endfor %}

    {% if totalCount>3 %}
        <p>...</p>
    {% endif %}

    <p><a href="http://m.nekuno.com/#/discover">{{ 'notifications.messages.exceptional_links.body.enter'|transchoice(totalCount) }}</a></p>
{% endblock %}
