<p>Error registrando usuario.</p>

<p>Error {{ e.code }}</p>
<p>Mensaje de error: {{ errorMessage }}</p>
<p>Archivo: {{ e.file }}</p>
<p>Línea: {{ e.line }}</p>
<p>Trazado:</p>
<pre>{{ e.traceAsString }}</pre>
<p>Petición: {{ data }}</p>